<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\Sample\MobileAPI\WebAPI\WebAPI\bin\Debug\netcoreapp3.1\WebAPI.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ProfilePathType" value="/MobileAPI/swagger/v1/swagger.json" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>